*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color-dark: #999;
  --main-color-light: #ddd;
  --accent-color-orange: orange;
  --accent-color-pink: rgba(255,0,153);
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: var(--main-color-light);
  /* display: grid;
  place-items: center;
  min-height: 100vh;*/
  overflow-x: hidden;
}


/* Hoover Effect */

.card-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  max-width: 20rem;
  color: var(--main-color-light);
  background-image: url(cat-closeup.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem 0rem 0rem;
  overflow: hidden;
  border-radius: 140px 140px 0px 0px;
  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-content {
  transform: translateY(0%);
}

.card:hover .card-title {
  color: var(--accent-color-pink);
}

.card-content {
  background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.6) 20%, hsl(0 0% 0% / 0.8));
  padding: 1rem;
  display: grid;
  place-items: center;
  transform: translateY(39%);
  transition: transform 500ms ease 100ms;
}

.card-title {
  color: var(--accent-color-orange);
  padding-bottom: 0.5rem;
  font-size: 3rem;
  text-align: center;
  transition: color 500ms ease 100ms;
}

.button {
  color: white;
  text-decoration: none;
  padding: 0.2rem 0.3rem;
  background: var(--accent-color-orange);
  margin-top: 0.5rem;
  transition: background 350ms;
  transition: transform 350ms;
}

.button:hover {
  background: var(--accent-color-pink);
  transform: scale(1.2);
}





/* Horizontal Scoll Effect */

section {
  position: relative;
  width: 100%;
  /* overflow: hidden;*/
}

.scroll {
  display: flex;
  width: 100%;
  box-shadow: 0 8px 16px rgba(#000000, 0.5);

  .textbox {
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    white-space: nowrap;
    color: #212121;
    background-color: #fff;
    animation: animate 40s -40s linear infinite;
    will-change: transform;

    &:nth-child(2) {
      animation: animate2 40s -20s linear infinite;
    }
  }

  span {
    -webkit-text-stroke: 2px #000000;
    color: #ffffff;
  }
}

.text0 {
  transform: rotate(0deg) translate(-0px, 0px);
}

.text1 {
  transform: rotate(30deg) translate(-200px, 200px);
}

.text2 {
  transform: rotate(-25deg) translate(-200px, 120px);
}

.text3 {
  transform: rotate(25deg) translate(-200px, 300px);
}

.text4 {
  transform: rotate(-2deg) translate(-200px, -150px);
}

.text5 {
  transform: rotate(5deg) translate(-200px, 250px);
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
